@font-face {
  font-family: "Kepler";
  src: url("Kepler.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: Kepler;
  font-size: 20px;
  background: rgb(214, 214, 214);
}

.ph {
  width: 95%;
  height: 95%;
}

.url {
  color: rgb(214, 214, 214);
}

.url:hover {
  color: rgb(156, 25, 25);
}

a {
  color: rgb(143, 24, 24);
}

a:hover {
  color: black;
}

#img {
  width: 60px;
  height: 60px;
}

#name {
  font-size: 50px;
}

header {
  background-color: rgb(143, 24, 24);
  height: 70px;
}

footer {
  background-color: rgb(143, 24, 24);
  height: 70px;
}

.cost {
  color: rgb(143, 24, 24);
}

.color {
  color: rgb(214, 214, 214);
}

.slider {
  position: relative;
  padding: 0px 20px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 35%;
  margin: -10px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 10px;
  height: 30px;
}

.slick-arrow.slick-prev {
  left: 0;
  background: url("arrows/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next {
  right: 0;
  background: url("arrows/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}

.slick-dots {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.slick-dots li {
 list-style: none;
  margin-right: 10px; 
}

.slick-dots button {
  font-size: 0;
  width: 5px;
  height: 5px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid rgb(214, 214, 214);
}

@media all and (orientation: landscape), (min-width: 768px) {
  body {
    font-size: 32px;
  }
  header {
    height: 120px;
  }
  #img {
    width: 100px;
    height: 100px;
  }
  #name {
    font-size: 90px;
  }
  footer {
    height: 120px;
  }
  h2 {
    font-size: 56px;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
  }
  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
  }
  .slider {
    position: relative;
    padding: 0px 60px;
  }
}
